<%- include('includes/head.ejs')%>
<%- include('includes/nav.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-page">
                <code>
                    <%= errors %>
                </code>
            </div>
        </div>
    </div>
</div>

<%- include('includes/end.ejs')%>

