<%- include('includes/head.ejs')%>
<%- include('includes/nav.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Configs list</h2>

            <% for (let config of configList) {%>

                    CONFIG URL <%= config.externalUrl %> <br>
                    CONFIG METHOD <%= config.formMethod %> <br>
                    CONFIG DATA TYPE <%= config.formDataType %> <br>
                    CONFIG REQ BODY <%= config.formReqBody %> <br>
                    CONFIG PARAMS <%= config.formParams %>
                    <button
                            data-ext-url="<%= config.externalUrl %>"
                            data-form-method="<%= config.formMethod %>"
                            data-type="<%= config.formDataType %>"
                            data-req-body="<%= config.formReqBody %>"
                            data-params="<%= config.formParams %>"
                            onclick="setConfig(this)">SET</button>
                <hr>
            <%}%>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-page">
                <h2>Config form</h2>
                <form method="POST" action="run">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Url</label>
                        <input type="text" class="form-control" name="externalUrl" id="formUrl" value="https://getbootstrap.com/">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Method</label>

                        <select class="custom-select custom-select-sm" name="formMethod" id="formMethod">
                            <option value="POST" selected>POST</option>
                            <option value="GET">GET</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Data type</label>

                        <select class="custom-select custom-select-sm" name="formDataType" id="formDataType">
                            <option value="json" selected>JSON</option>
                            <option value="formData">FormData</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Body (JSON)</label>
                        <div class="row-wrapper" id="formBodyList">
                            <div class="row">
                                <div class="col-12">
                                    <textarea class="form-control" name="formReqBody" id="reqBody" cols="30" rows="10">{"test": "25", "test2":"34"}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Params</label>
                        <input type="text" class="form-control" name="formParams" value="?test=254&test2=444" id="formParams">
                    </div>

                    <div class="custom-control custom-checkbox mb-4">
                        <input type="checkbox" class="custom-control-input" name="saveConfig" value="true" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Save config?</label>
                    </div>

                    <button type="submit" class="btn btn-primary submit-btn">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>

<%- include('includes/end.ejs')%>

