<%- include('includes/head.ejs')%>
<%- include('includes/nav.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-page">
                <h1>Response status</h1>
                <code>
                    <%= status %>
                </code>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-page">
                <h1>Response status text</h1>
                <code>
                    <%= statusText %>
                </code>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-page">
                <h1>Response headers</h1>
                <ul class="list-group list-group-flush">
                    <% for(let item of headers) { %>
                    <li class="list-group-item">
                        <strong>
                            <%= item.name %>
                        </strong>
                        <%= item.value %>
                    </li>
                    <% } %>
                </ul>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-page">
                <h1>CONTENT</h1>

                <code>
                    <%= content %>
                </code>


                <hr>
            </div>
        </div>
    </div>
</div>

<%- include('includes/end.ejs')%>

